<!DOCTYPE html>
{% include "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{ post.title }}</h1>
        {% for image in images %}
            <img src="{{ image.url }}" alt="{{ post.title }}">
        {% empty %}
            <p>No images for this post.</p>
        {% endfor %}
        <p>{{ post.content }}</p>
        <p>Posted on {{ post.date_posted }} by {{ post.author.username }}</p>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>